.card {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  width: 150px;
  margin-bottom: 15px;
  transition: border-color 0.3s ease;
  display: inline-block; /* Visualizza le card su una riga orizzontale */
  vertical-align: top; /* Allinea le card in cima */
}

.card-content {
  display: flex;
  flex-direction: column;
}

.card-top {
  display: flex;
  justify-content: flex-end;
}

.card-image {
  text-align: center;
}

.card p {
  margin: 0;
}

.button-card {
  background-color: transparent;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  padding: 0;
  pointer-events: none;
}

.button-card:hover {
  color: #f00;
}

.orderReady {
  border-color: #4caf50;
  border-radius: 12px;
}

.button-card-ready {
  pointer-events: auto;
  color: #4caf50;
  cursor: pointer;
}
